<mat-toolbar color="primary">
  <span>Hybrid RSS Reader</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <app-feed-list></app-feed-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
      @if (!hasRoute) {
        <div class="welcome">
          <h1>Welcome to your RSS Reader</h1>
          <p>Select a feed from the sidebar to start reading.</p>
        </div>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
